.kcs-project-main{
    display: block;
    min-height: calc(100vh - 80pt);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kcs-project-main::before{
    content: "";
    display: block;
    width: 20rem;
    height: calc(100vh - 80pt);
    position: absolute;
    top: 0;
    left: 0;
    background: #ffc00e;
    clip-path: polygon(0% 0%, 90% 50%, 0% 100%);
    opacity: .9;
    z-index: 2;
}

.kcs-project-main::after{
    content: "";
    display: block;
    width: 100%;
    height: calc(100vh - 80pt);
    background: #362d03;
    opacity: .8;
}

.kcs-project-title-div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20rem;
    z-index: 10;
    color: white;
    text-transform: uppercase;
}



@media (max-width: 700px){
    .kcs-project-main::before{
        display: none;
    }

    .kcs-project-title-div{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2rem;
        z-index: 10;
        color: white;
        text-transform: uppercase;
    }
}